body {
  background: linear-gradient(91deg, #caf4f4, #fcffe9, #fff2cc, #fde0d9, #caefd1);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.title{
  font-family: 'Red Rose';
  font-size: 40px;
}

.message-group{
  border-color: black;
  font-family: 'Roboto Mono';
  width: auto;
}

.recent-posts{
  font-family: 'Leckerli One';
  font-size: 35px;
}
